.download{
    border: 1px dotted #e2e3e5;
    height: 70%;
    margin: 10px 0px;
}

.downloadBorder{
    border: 1px solid #e4e4e7;
    border-left: 0px;
    border-top: 0px;
    display: inline-block;
    font-size: 15px;
    padding: 0px 20px;
    border-radius: 3px;
}
.fileIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.downloadBorder p{
    margin-bottom: 5px;
    padding-top: 5px;
}
.fileSize:hover{
   text-decoration: underline;
}
.flashTxt{
    background-color: #fafafa;
    padding: 20px 20px;
}