.mobile_logo{
    width: 33%;
}
.canvasBg{
    background-color: #a10037 !important;
}
.mobile_menu_logo{
    width: 33%;
}
.mobieNavBg {
    background-color: #a10037 !important;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.btn-close{
    color: #ffff;
}