.avatar-circle {
    width: 35px;
    height: 35px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    text-transform: uppercase;
  }
  .custom-breadcrumb {
   background-color: var(--theme_yellow_color);
   color: #ffff !important;
   border-radius: 20px;
   padding: 0px 20px ;
   line-height: 1.6;
       text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
.breadCrumbMain{
  /* background: #520f0f !important;
  color: #ffff !important;
  border-radius: 20px;
  padding: 0px 20px ; */
}
.breadCrumbMain a{
  text-decoration: none;
  color: #a10037 !important;
  font-weight: 600;
  font-size: 16px;
  

}
