* {
    box-sizing: border-box;
    font-size: 14px;
}

:root{
    --theme_red_color: #a10037;
    --theme_yellow_color:#dc9f26;
    --theme_brown_color: #520f0f;

}



.lightCard p {
  margin-bottom: 6px;
  white-space: pre-wrap;
}

.lightCard strong {
  color: #0d6efd;
}

.lightCard em {
  color: #6c757d;
}

.lightCard ul, .lightCard ol {
  padding-left: 20px;
  margin-bottom: 8px;
}
